.main-contaier
{
    width: 100%;
    height: 800px;
    background-size: cover;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQMRfiowqiuOW60zKN-S_hh_bWZxZAdGW1V2vDOZoF5Li_yjMRD&usqp=CAU');
}
#container
{
    background-color: orchid;
    width: 500px;
    height: 400px;
    margin: 0 auto;

}
.box1
{
    text-align: center;
    height: 100px;
    background-color: yellowgreen;
    margin-top: 2;
    
}
.box2
{
    text-align: center;
    height: 100px;
    background-color:aquamarine;
    
}
.box3
{
    text-align: center;
    height: 100px;
    background-color: wheat;
}