.mainDiv
{
    background-color: lightcoral;
    height: 1000px;
}
.mainbox
{
    text-align: center;
    width: 100%;
}
.mainheading
{
    font-size: 65px;
}
.box1
{
    background-color: slategrey;
    border: 1px solid;
    border-radius: 50%;
    width: 100px;
    height: 262px;
    margin-left: 40%;
    margin-top: 44px;
}
.box2
{
    
    border: 5px solid;
    width: 139px;
    padding: 24px;
    position: relative;
    left: 60%;
    top: -266px;

}
.red
{
    border: 1px solid red;
    border-radius: 50%;
    width: 54px;
    top: 29px;
    position: relative;
    left: 24px;
    height: 54px;
}
.yellow
{
    border: 1px solid #ffe000;
    border-radius: 50%;
    width: 54px;
    top: 39px;
    position: relative;
    left: 24px;
    height: 54px;
}
.green
{
    border: 1px solid #41e43e;
    border-radius: 50%;
    width: 54px;
    position: relative;
    top: 50px;
    left: 24px;
    height: 54px;
}
.red1
{
    position: relative;
    top: -12px;
}
.yellow1
{
    position: relative;
    top: 0px;
}
.green1
{
    position: relative;
    top: 14px;
}